<launch>
    <arg name="camera1"              		default="t265"/>
    <arg name="camera2"              		default="d400"/>
    <arg name="map_size_x_"                 default="5.0"/>
    <arg name="map_size_y_"                 default="5.0"/>
    <arg name="map_size_z_"                 default="4.0"/>
    <arg name="localization"                default="false"/>

    <group ns="grid_map">
        <param name="resolution"                value="0.05" /> 
        <param name="map_size_x"                value="$(arg map_size_x_)" /> 
        <param name="map_size_y"                value="$(arg map_size_y_)" /> 
        <param name="map_size_z"                value="$(arg map_size_z_)" /> 
        <param name="obstacles_inflation"       value="0.099" />
        <param name="threshold"                 value="0.50"/>
        <param name="visualization_truncate_height"   value="2.4"/>
        <param name="virtual_ceil_height"       value="2.5"/>
        <param name="point_cloud_topic"         value="/rtabmap/cloud_map"/>
        <param name="global_frame_id"           value="map"/>
        <param name="ground_height"             value="-0.05"/>

        <node pkg="gridmap_establish" name="gridmap_node" type="gridmap_node" output="screen"/>
    </group>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find gridmap_establish)/rviz_config/rviz.rviz" required="true" />

</launch>