<launch>
    <arg name="camera1"              		default="t265"/>
    <arg name="camera2"              		default="d400"/>
    <arg name="map_size_x_"                 default="5.0"/>
    <arg name="map_size_y_"                 default="5.0"/>
    <arg name="map_size_z_"                 default="4.0"/>
    <arg name="localization"                default="false"/>
    
    <include file="$(find gridmap_establish)/launch/base_devices_startup.launch">
        <arg name="device_type_camera1"             value="t265"/>
        <arg name="device_type_camera2"             value="d435i"/>
        <arg name="serial_no_camera1"               value=""/>
        <arg name="serial_no_camera2"               value=""/>
        <arg name="camera1"                         value="$(arg camera1)"/>
        <arg name="camera2"                         value="$(arg camera2)"/>
        <arg name="clip_distance"                   value="3.5"/>
    </include>

    <group ns="rtabmap">
        <arg if="$(arg localization)" name="rtabmap_args" default=""/>
        <arg unless="$(arg localization)" name="rtabmap_args" default="--delete_db_on_start"/>
        <arg name="camera_info_topic"  value="/$(arg camera2)/color/camera_info"/>
        <arg name="depth_topic"        value="/$(arg camera2)/aligned_depth_to_color/image_raw"/>
        <arg name="rgb_topic"          value="/$(arg camera2)/color/image_raw"/>
        <arg name="odom_topic"         value="/$(arg camera1)/odom/sample"/>
        <arg name="frame_id"           value="$(arg camera2)_aligned_depth_to_color_frame"/>

        <node name="rtabmap" pkg="rtabmap_slam" type="rtabmap" output="screen" args="$(arg rtabmap_args)">
            <param name="database_path"       type="string"         value="rtabmap.db"/>
            <param name="subscribe_depth"     type="bool"           value="true"/>
            <param name="subscribe_rgb"       type="bool"           value="true"/>
            <param name="map_frame_id"        type="string"         value="map"/>
            <remap from="rgb/camera_info"     to="$(arg camera_info_topic)"/>
            <remap from="depth/image"         to="$(arg depth_topic)"/>
            <remap from="rgb/image"           to="$(arg rgb_topic)"/>
            <remap from="odom"                to="$(arg odom_topic)"/>
            <param name="frame_id"            type="string"         value="$(arg frame_id)"/>

            <param name="wait_for_transform_duration"  type="double"   value="2"/>
            <param name="queue_size"                   type="int"      value="5"/>
            <param name="map_always_update"            type="bool"     value="true"/>
            <param name="map_filter_radius"            type="double"   value="2.5"/>
            <param name="map_filter_angle"             type="double"   value="30"/>
            <param name="cloud_output_voxelized"       type="bool"     value="true"/>

            <param name="Grid/CellSize"            value="0.03"/>
            <param name="Grid/3D"                  value="true"/>
            <param name="Grid/RayTracing"          value="false"/>
            <param name="GridGlobal/MaxNodes"      value="0"/>
            <param name="Rtabmap/DetectionRate"    value="1.5"/>

            <!-- localization mode -->
            <param     if="$(arg localization)" name="Mem/IncrementalMemory" type="string" value="false"/>
            <param unless="$(arg localization)" name="Mem/IncrementalMemory" type="string" value="true"/>
            <param name="Mem/InitWMWithAllNodes" type="string" value="$(arg localization)"/>
        </node>
    </group>

    <group ns="grid_map">
        <param name="resolution"                value="0.05" /> 
        <param name="map_size_x"                value="$(arg map_size_x_)" /> 
        <param name="map_size_y"                value="$(arg map_size_y_)" /> 
        <param name="map_size_z"                value="$(arg map_size_z_)" /> 
        <param name="obstacles_inflation"       value="0.099" />
        <param name="threshold"                 value="0.50"/>
        <param name="visualization_truncate_height"   value="2.4"/>
        <param name="virtual_ceil_height"       value="2.5"/>
        <param name="point_cloud_topic"         value="/rtabmap/cloud_map"/>
        <param name="global_frame_id"           value="map"/>
        <param name="ground_height"             value="-0.05"/>

        <node pkg="gridmap_establish" name="gridmap_node" type="gridmap_node" output="screen"/>
    </group>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find gridmap_establish)/rviz_config/rviz.rviz" required="true" />

</launch>